<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Etiquetas</title>
</head>

<% if (tagData.length> 0) { %>
  <% tagData.forEach(tag=> { %>

    <body>
      <div class="container">
        <header>
          <img class="logo_left"
            src="https://ik.imagekit.io/2bd11h34bw/relatorios/logos_youeduc/logo_amigo_w18utqnmBI.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653062765031"
            alt="logo_esquerda">
          <img class="logo_center"
            src="https://ik.imagekit.io/2bd11h34bw/relatorios/logos_municipios/logo_russas.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653056943527"
            alt="logo_centro">
          <img class="logo_right"
            src="https://ik.imagekit.io/2bd11h34bw/relatorios/logos_youeduc/logo_youeduc.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653057074718"
            alt="logo_direita">
        </header>
        <h1 class="title">
          <%= tag.evaluation %>
        </h1>
        <main class="content">
          <span class="field_name"><strong>
            <%= tag.nameSchool %></strong>
          </span>
          <div class="container_fields_names_qrcode">
            <div class="content_fields_names_qrcode">
              <section class="fields_names_qrcode">
                <div class="content_field_name_serie_turma_turno">
                  <span class="field_name"><strong>SÉRIE:</strong>
                    <%= tag.currentYear %>
                  </span>
                  <span class="field_name"><strong>TURMA:</strong>
                    <%= tag.class %>
                  </span>
                  <span class="field_name"><strong>TURNO:</strong>M</span>
                </div>
                <span class="field_name"><strong>DISCIPLINA:</strong>
                  <%= tag.discipline %>
                </span>
                <span class="field_name"><strong>Nº PROVAS:</strong>
                  <%= tag.countTests %>
                </span>
              </section>
            </div>
            <aside>
              <img class="qrcode"
                src="https://ik.imagekit.io/2bd11h34bw/relatorios/QRCodeFrame_VyQoi-ItN.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653071289985"
                alt="qrcode">
            </aside>
          </div>
          <span class="field_name"><strong>ASS DO DIRETOR(A):</strong><span>____________________________</span>
        </main>
      </div>
    </body>

    <% }); %>
  <% } %>

  <style>
          html {
            display: flex;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            width: 793px;
            height: 1120px;
            justify-content: center;
            align-items: center;
          }

          body {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 32px 0px 32px 0px;
          }

          .container {
            width: 340px;
            height: 227px;
            border: 1px solid #000;
            margin: 2px;
            box-shadow: 0px 0px 10px #888888;

          }

          header {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          .logo_left {
            height: 50px;
            width: 100px;
            margin-right: -16px;
          }

          .logo_center {
            height: 40px;
            width: 50px;
          }

          .logo_right {
            height: 40px;
            width: 70px;
            margin-right: 8px;
          }

          .title {
            font-size: 14px;
            text-align: center;
          }

          .content {
            font-size: 12px;
            padding: 8px;
          }

          .container_fields_names_qrcode {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0px 8px 0px;
          }

          .content_fields_names_qrcode {
            display: flex;
            flex-direction: column;
            width: 200px;
            align-items: space-between;
            height: 70px;

          }

          .content_field_name_serie_turma_turno {
            display: flex;
            flex-direction: row;
          }

          .fields_names_qrcode {
            display: flex;
            flex-direction: column;
            height: 70px;
            justify-content: space-between;
          }

          .field_name {
            margin-right: 4px;
          }

          .field_name strong {
            margin-right: 4px;
          }

          .qrcode {
            height: 75px;
            width: 75px;
          }
        </style>

</html>